<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>{{ 'IMAGE_TEXT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content>
  <ion-list >
    <ion-card *ngIf="!!fourN">
      <ion-item>
        <ion-card>
          <ion-thumbnail item-left>
            <img [src]="photo" *ngIf="photo" />
          </ion-thumbnail>
        </ion-card>
        <ion-card>
          <div class="card-subtitle">{{native}}</div>
        </ion-card>
        <ion-card>
          <div class=“card-subtitle”>{{fourN}}</div>
        </ion-card>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-middle outline block (click)="cameraRoll()">
          <ion-icon ios="ios-images" md="md-images" ></ion-icon>
        </button>
      </ion-col>

      <ion-col col-6>
        <button ion-button icon-middle outline block (click)="takePhoto()">
          <ion-icon ios="ios-camera" md="md-camera" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block outline (click)="goHome()">
    <ion-icon name="home">
    </ion-icon>{{ 'HOME' | translate }}
  </button>
</ion-footer>
