<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>{{ 'QUIZ' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let card of cards; let id = index" (swipeleft)="swipeLeftEvent(id)" (swiperight)="swipeRightEvent(id)">
        {{ 'QUESTION' | translate }} {{ id + 1 }}
        <img [src]="card.imgUrl" class="slide-image"/>
        {{ 'QUIZ_PROMPT' | translate }}
        <ion-list >
            <ion-item tappable *ngFor="let choice of quizChoiceArray[id]; let pos = index" (click)="chooseAnswer(choice,pos)">
              <ion-label class="answer">
                {{ choice.word }}
              </ion-label>
              <ion-icon [name]="choice.status" color="primary" item-end></ion-icon>
            </ion-item>
        </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
