page-my-decks {
$footer-background: yellow;
background-color: teal;
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    background:lightcyan;
  }
.my-decks-deck {
  height: 150px;
}

  img {
    position: relative;
    width: 100%;
    padding: 0;
    display: block;    
    align-items: center;
    border-bottom-color: turquoise;
   
  }
  .card-title {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: skyblue;
    -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color:teal;
  }
  .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 100%;
    color:lightblue;  
    -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color:maroon;
  }
  .full-image{
    width: 100%;
    height: 100%;

  }
.my-card .item.item-image{
  width: 100vw;
  margin-left: -10px;
}

.my-card.card{
  overflow: visible;
}

}
}
