page-my-decks {
$toolbar-ios-button-border-radius: 8px;
$footer-background: yellow;
background-color: teal;
$fab-mini-size: 10px;
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }
  img {
    position: relative;
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;    
    align-items: center;
  }
  .card-title {
    position: absolute;
    top: 43%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: teal;
  }

  .card-subtitle {
    font-size: 1.7em;
    position: absolute;
    top: 50%;
    width: 100%;
    color: maroon;
  }

}
}
