<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <!--<ion-title>{{ 'CREATE_DECK' | translate }}</ion-title>-->
    <ion-title>Add Cards to Deck!</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!!picUrl">
  this is image my friends:{{picUrl}}
</ion-content>

<ion-content padding>
  <ion-content>
  <h3>{{ title }}</h3>
  <ion-list >
    <ion-card>
      <ion-item *ngFor="let card of cards; let id = index">
        <ion-card>
          <ion-thumbnail item-left>
            <img [src]="card.image" *ngIf="card.image" />
          </ion-thumbnail>
        </ion-card>
        <ion-card>
          <div class=“card-title”>{{card.word}}</div>
        </ion-card>
        <ion-card>
          <div class=“card-subtitle”>{{card.translation}}</div>
        </ion-card>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-middle outline (click)="cameraRoll()">
          <ion-icon ios="ios-images" md="md-images" ></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button icon-middle outline (click)="takePhoto()">
          <ion-icon ios="ios-camera" md="md-camera" ></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button icon-middle outline (click)="findCard()">
          <ion-icon ios="ios-search" md="md-search" ></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <button ion-button full (click)="createDeck()" outline>{{ 'ADD_CARD' | translate }}</button>
</ion-footer>

