page-find-add-deck {
$footer-background: yellow;
background-color: teal;
.card-background-page-f {
  ion-card {
    position: relative;
    text-align: center;
    background:lightcyan;
  }
.my-decks-deck-f {
  height: 150px;
}
.card-title {
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 1.5em;
  width: 100%;
  font-weight: bold;
  color: lightblue;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color:teal;
}
.card-subtitle {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 100%;
  color:lightblue;  
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color:maroon;
}
.card-added {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 75%;
  width: 100%;
  color:lightblue;  
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color:maroon;
}
  img {
    position: relative;
    width: 100%;
    padding: 0;
    display: block;    
    align-items: center;
    border-bottom-color: turquoise;
  }

  .full-image-f{
    width: 100%;
    height: 100%;
  }
.my-card-f .item.item-image{
  width: 100vw;
  margin-left: -10px;
}
.my-card-f{
  width: 100%;
}


.my-card-f.card{
  overflow: visible;
}


}


}



