<ion-header>
	<ion-navbar>
		 <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'WELCOME' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-content *ngIf="!!profile">
		Welcome {{profile.firstName}} {{profile.lastName}}!!!
		<ion-content *ngIf="!myLanguages">
			<form (click)="logForm(langForm.native, langForm.learning)">
				<ion-item>
					<ion-label>Native Lang. Please!</ion-label>
					<ion-input type="text" [(ngModel)]="langForm.native" name="native" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Learning Lang. Please!</ion-label>
					<ion-select  [(ngModel)]="langForm.learning" name="learning">
						<ion-option *ngFor="let language of chooseALang" value= {{language}} required>
							{{ language }}
						</ion-option>
					</ion-select>
				</ion-item>
				<button ion-button type="button" block>submit</button>
			</form>
		</ion-content>
		<ion-content *ngIf="!!myLanguages">
			Languages!
				Native: {{ myLanguages[0] }} 
				Learning: {{ myLanguages[1] }}

				<button ion-button type="button" [navPush]="createPage" block>{{ 'CREATE_A_DECK' | translate }}</button>
				<button ion-button type="button" [navPush]="findAddPage" block>{{ 'FIND_ADD_A_DECK' | translate }}</button>
				<button ion-button type="button" [navPush]="myDecksPage" block>{{ 'MY_DECKS' | translate }}</button>

		<div padding>
			<button class="button button-full" type="button" (click)="logout()" block>{{ 'LOG_OUT' | translate}}</button>
		</div>
		</ion-content>
	</ion-content>
</ion-content>