<ion-header>
	<ion-navbar>
		 <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'WELCOME' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
				<button ion-button type="button" (click)="button()" block>Test</button>
				<button ion-button type="button" (click)="post()" block>Post</button>

	<ion-content *ngIf="!!profile">
		Welcome {{profile.firstName}} {{profile.lastName}}!!!
		<ion-content *ngIf="!!user">
			this is user {{ user }}
		</ion-content>


			<!--Testing {{ test }}-->
			<button class="button button-full" type="button" (click)="logout()" block>{{ 'LOG_OUT' | translate}}</button>
		<ion-content *ngIf="!!myLanguages">
			Languages!
				Native: {{ myLanguages[0] }} 
				Learning: {{ myLanguages[1] }}

				<button ion-button type="button" [navPush]="createPage" block>{{ 'CREATE_A_DECK' | translate }}</button>
				<button ion-button type="button" [navPush]="findAddPage" block>{{ 'FIND_ADD_A_DECK' | translate }}</button>
				<button ion-button type="button" [navPush]="myDecksPage" block>{{ 'MY_DECKS' | translate }}</button>

		<div padding>
		</div>
		</ion-content>
	</ion-content>
</ion-content>