<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>{{ 'CREATE_A_DECK' | translate }} v1.0.0</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!!picUrl">
  this is image my friends:{{picUrl}}
</ion-content>

<ion-content padding>
  <ion-content>
    <form (click)="addATitle(addATitle.title)">
      <ion-input type="text" [(ngModel)]="addATitle.title" name="title" placeholder="Deck Title"></ion-input>
      <button type="button">Add Title</button>
    </form>
    <ion-thumbnail item-left>
      <img [src]="photo" *ngIf="photo" />
    </ion-thumbnail>
    <ion-list>
      <ion-item>
        <ion-col col-12 *ngFor="let photo of photos; let id = index">
          <ion-thumbnail item-left>
            <img [src]="photo" *ngIf="photo" />
          </ion-thumbnail>
          <h2>{{picUrl}}</h2>
      <ion-content *ngIf="!!fourN" >
          <h2>{{fourN}}</h2>
          <h2>{{translatedWord}}</h2>
      </ion-content>
          <p>ForeignWord</p>
          <button ion-button clear item-right>View</button>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-content>

  <!--<ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left outline (click)="cameraRoll()">
            <ion-icon ios="ios-image" md="md-image" ></ion-icon>
          </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button icon-left outline (click)="takePhoto()">
            <ion-icon ios="ios-camera" md="md-camera" ></ion-icon>
          </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button icon-left outline (click)="findCard()">
            <ion-icon ios="ios-search" md="md-search" ></ion-icon>
          </button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <button ion-button full (click)="createDeck()" outline>{{ 'CREATE_DECK' | translate }}</button>
</ion-footer>